<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello World!</title>
    </head>
    <body>
        <h1>Hello, I love playing @(ViewBag.ReaperUlt + " " + ViewBag.Number)</h1>
        <a href="/user/more">One User</a>

        @{
            for(int i = 0; i < 5; i++)
            {
                <p>The numer is @i</p>
            }

        }

        <form action="process" method="post">
            <label for="favoriteAnimal">What is your favorite animal?</label>
            <input type="text" name="favoriteAnimal">
            <span>
                @{
                    if(ViewBag.Error == null)
                    {
                        <p></p>
                    } else {
                        <p>There is an Error</p>
                        <img src="~/images/puppy.jpg" alt="puppy picture" height="150px">
                    }
                }
            </span><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>

