<h1>This is the Player Page</h1>


<form asp-action="UpdatePlayer">
    <div>

        <label for="CharacterName">Character Name : </label>
        <input type="text" name="CharacterName">
    </div>
    <div>

        <label for="CharacterLevel">Character Level : </label>
        <input type="number" name="CharacterLevel">
    </div>


    <input class="btn btn-success border" type="submit" value="Update Player">
</form>

<div class="container">

    @if (Context.Session.GetString("CharacterName") == null)
    {
        <p>Enter a Character Name!</p>
    }
    else
    {
        <h2> Character Name : @Context.Session.GetString("CharacterName") </h2>
    }


    @if (Context.Session.GetInt32("CharacterLevel") == null)
    {
        <p>Enter a Character Level!</p>
    }
    else
    {
        <h2>Character Level : @Context.Session.GetInt32("CharacterLevel") </h2>
    }


</div>